<div class="container text-center">
    <form>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" name="lower" class="form-control" placeholder="Id Persona" aria-label="Id Persona">
                </div>
            </div>
              <div class="col">
                <button type="submit" class="btn btn-primary">Buscar ID</button>
              </div>
        </div>
    </form>
    <form>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" name="lower" class="form-control" placeholder="Fecha Incio" aria-label="Fecha Inicio">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <input type="text" name="lower" class="form-control" placeholder="Fecha Fin" aria-label="Fecha Fin">
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Buscar por Fecha</button>
            </div>
        </div>
    </form>
  </div>